Date,Start Time,End Time,Journey/Action,Charge,Credit,Balance,Note
27-Apr-19,14:05,,"Bus journey, route 92",0,,4.8,
19-Apr-19,15:42,16:11,"Russell Square to Hammersmith (District, Piccadilly lines)",0,,4.8,
07-Apr-19,16:28,16:39,Kings Cross [London Underground / National Rail] to Camden Town,0,,4.8,
07-Apr-19,13:22,14:06,North Ealing to Kings Cross [London Underground / National Rail],0,,4.8,
01-Apr-19,17:41,17:52,London Bridge [National Rail] to Charing Cross [National Rail],0,,4.8,
